/*===================
	Global style 
=====================*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 1100px;
}

.margin-0 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.border-left {
  border-left: 1px solid #EEEEEE;
}

.padding-section {
  padding: 90px 0;
}
@media only screen and (max-width: 768px) {
  .padding-section {
    padding: 50px 0;
  }
}

.section-header h4 {
  font-weight: 700;
}

.btn-bg {
  background-color: #DB1E3C;
  border-radius: 8px;
  text-align: center;
  color: #fff !important;
  min-width: 185px;
  min-height: 40px;
}
.btn-bg:hover {
  background-color: #b60723;
}

.btn-gray-bg {
  background-color: #EEEEEE;
  border-radius: 8px;
  text-align: center;
  color: #212529 !important;
  min-width: 100px;
}
.btn-gray-bg svg {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}
.btn-gray-bg:hover {
  background-color: #dcdcdc;
}

.btn-white-bg {
  border: 1px solid #DB1E3C !important;
  background-color: #fff;
  color: #DB1E3C !important;
}
.btn-white-bg:hover {
  background-color: #fde8eb;
}

.btn-blue-bg {
  background-color: #F5FAFF;
  border-radius: 8px;
  text-align: center;
  color: #0066B2;
  min-width: 155px;
  padding: 10px;
}
.btn-blue-bg svg {
  width: 15px;
  height: 15px;
  margin-left: 5px;
  stroke: #0066B2;
}

.btn-green-bg {
  background-color: rgba(2, 140, 89, 0.1019607843);
  border-radius: 8px;
  text-align: center;
  color: #028C59 !important;
  min-width: 155px;
}
.btn-green-bg:hover {
  background-color: rgba(2, 140, 89, 0.2117647059);
}

.btn-link {
  color: #DB1E3C !important;
}

.btn-gray-link {
  color: #737373 !important;
}

.product-card {
  border: 1px solid #F7F7F7;
  background-color: #FDFDFD;
  color: #22262D;
  position: relative;
  line-height: 2;
}
.product-card .product-card-img {
  background-color: #F7F7F7;
}
.product-card .card-body .card-text {
  font-size: 13px;
}
.product-card .card-body .price span.old-price {
  color: #525457;
  text-decoration: line-through;
}
.product-card .card-body .price span.new-price {
  color: #DB1E3C;
  font-size: 17px;
}
.product-card .card-body a {
  width: 60%;
  display: block;
  margin: 0 auto;
}
.product-card .card-body .discount {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 15px;
  background-color: #DB1E3C;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-card .card-body .discount span {
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
}
.product-card .card-body .amount p {
  font-weight: 700;
}
.product-card .card-body .amount .input-number {
  width: 80px;
  border: none;
  text-align: center;
}
.product-card .card-body .amount .btn-number {
  color: #212529;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
}
.product-card .card-body .trash {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #EEEEEE;
  text-align: center;
}
.product-card .card-body .trash svg {
  width: 18px;
  height: 18px;
}

.breadcrumb {
  margin: 0;
  color: #212529;
  font-weight: 600;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item:before {
  font-family: "Font Awesome 5 Free";
  content: "\f053";
  font-weight: 600;
  margin: 0 15px;
  padding-right: 0;
  color: #212529;
  font-size: 10px;
}
.breadcrumb .breadcrumb-item.active {
  color: #212529;
  display: flex;
  align-items: center;
  justify-content: center;
}
.breadcrumb .breadcrumb-item a {
  color: #212529;
}
.breadcrumb .breadcrumb-item a:hover {
  color: #DB1E3C;
}

label.error {
  color: #DB1E3C !important;
}

input.error {
  border: 1px solid #DB1E3C;
}

.modal .modal-content {
  padding: 30px 60px;
}
.modal .modal-content .modal-header {
  border: none;
  justify-content: center;
}
.modal .modal-content .modal-header h6 {
  font-weight: 700;
}
.modal .modal-content .modal-footer {
  border: none;
}
.modal .modal-content .modal-footer .btn-bg {
  border-radius: 8px;
  font-size: 13px;
  height: 45px;
  border: 1px solid #DB1E3C;
}
.modal .modal-content label,
.modal .modal-content p,
.modal .modal-content input {
  color: #737373;
  font-size: 15px;
}
.modal .modal-content input {
  font-size: 14px;
  height: 45px;
}

.complete-sale {
  padding: 60px 0;
  border: 1px solid #EEEEEE;
  border-radius: 12px;
  font-size: 13px;
}
.complete-sale .discount-code {
  border-bottom: 1px solid #EEEEEE;
}
.complete-sale .discount-code .input-group {
  padding: 6px;
  border: 1px solid #EEEEEE;
  width: 90%;
  margin: 0 auto;
  border-radius: 6px;
}
.complete-sale .discount-code .input-group input {
  border: none;
  font-size: 13px;
  outline: none;
}
.complete-sale .discount-code .input-group button {
  border-radius: 6px !important;
  background-color: #212529;
  color: #fff;
  padding: 3px 12px;
  font-size: 13px;
}
.complete-sale .table tbody tr td {
  padding: 12px 30px;
}
.complete-sale .table tbody tr:last-child {
  border-top: 1px solid #EEEEEE;
}
.complete-sale .number-code {
  direction: ltr;
  text-align: center;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
.complete-sale .number-code input {
  width: 60px;
  height: 60px;
  border: 1px solid #EEEEEE;
  margin: 0 5px;
  border-radius: 8px;
  font-size: 31px;
  text-align: center;
}
.complete-sale .number-code input::placeholder {
  color: #EEEEEE;
}
.complete-sale .number-code input::-webkit-outer-spin-button,
.complete-sale .number-code input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.complete-sale .number-code input[type=number] {
  -moz-appearance: textfield;
  font-size: 30px;
}

.address-icon {
  padding-right: 50px;
}
.address-icon .icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #EEEEEE;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
.address-icon .icon svg {
  width: 30px;
  height: 30px;
}
.address-icon button.btn-gray-bg {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.address-icon .close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #EEEEEE;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  left: 20px;
}

/*===================
	header style 
=====================*/
.header {
  border-bottom: 1px solid #EEEEEE;
}
.header .menu-list .nav li.nav-item {
  padding: 0 20px;
}
.header .menu-list .nav li.nav-item a {
  color: #212529;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}
.header .menu-list .nav li.nav-item svg {
  width: 24px;
  height: 17px;
  margin: 10px 0;
  stroke: #212529;
  transition: all 0.3s ease-in-out;
}
.header .menu-list .nav li.nav-item svg.translate-svg {
  stroke: none;
  fill: #212529;
}
.header .menu-list .nav li.nav-item:hover a {
  color: #DB1E3C;
}
.header .menu-list .nav li.nav-item:hover svg {
  stroke: #DB1E3C;
}
.header .menu-list .nav li.nav-item:hover svg.translate-svg {
  stroke: none;
  fill: #DB1E3C;
}
@media only screen and (max-width: 768px) {
  .header .menu-list {
    display: none;
  }
}

/*===================
	home page style 
=====================*/
.home-page .slider .owl-slider .owl-dots {
  position: absolute;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.home-page .slider .owl-slider .owl-dots .owl-dot span {
  background-color: transparent;
  border: 1px solid #DB1E3C;
}
.home-page .slider .owl-slider .owl-dots .owl-dot.active span {
  background: #DB1E3C;
}
.home-page .our-clients {
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  position: relative;
}
.home-page .our-clients .owl-clients .item {
  padding: 0 55px;
}
.home-page .hilwa-info {
  background-color: #F5FAFF;
}
.home-page .hilwa-info .info-img img {
  height: 600px;
}
.home-page .hilwa-info .info-text {
  position: relative;
  min-height: 67px;
  min-width: 310px;
}
.home-page .hilwa-info .info-text.padding-right {
  padding-right: 67px;
}
.home-page .hilwa-info .info-text.padding-right img.shap01 {
  position: absolute;
  right: 0;
  top: 14px;
  height: 30px;
}
.home-page .hilwa-info .info-text.padding-right img.shap02 {
  position: absolute;
  right: 27px;
  bottom: -10px;
  transform: rotateY(180deg);
  width: 90%;
}
.home-page .hilwa-info .info-text.padding-left {
  padding-left: 67px;
}
.home-page .hilwa-info .info-text.padding-left img.shap01 {
  position: absolute;
  left: 0;
  top: 14px;
  height: 30px;
}
.home-page .hilwa-info .info-text.padding-left img.shap02 {
  position: absolute;
  left: 27px;
  bottom: -10px;
  width: 90%;
}
.home-page .hilwa-info .info-text p {
  font-size: 17px;
}
.home-page .certificates .owl-certificates .item {
  padding: 0 55px;
}

/*===================
	footer style 
=====================*/
.footer {
  background-color: #F5FAFF;
  line-height: 2;
}
.footer .footer-inner {
  color: #525457;
}
.footer .footer-inner a {
  color: #525457;
}
.footer .footer-inner h6 {
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.footer .footer-inner .footer-list li.footer-list-item i {
  font-size: 6px;
  margin-left: 10px;
}
.footer .footer-inner .footer-list li.footer-list-item:hover a {
  color: #DB1E3C;
}
.footer .footer-inner .footer-list li.footer-list-item:hover i {
  color: #DB1E3C;
}
.footer .footer-inner .about {
  text-align: justify;
  width: 80%;
  line-height: 1.7;
}
.footer .footer-inner .social-list li {
  display: inline-block;
}
.footer .footer-inner .social-list li a {
  width: 25px;
  height: 25px;
  border: 1px solid #525457;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 7px;
  transition: all 0.3s ease-in-out;
}
.footer .footer-inner .social-list li a:hover {
  background-color: #fff;
  border-color: #DB1E3C;
}
.footer .footer-inner .social-list li a:hover i {
  color: #DB1E3C;
}
.footer .footer-inner .download-list li {
  display: inline-block;
}
.footer .footer-inner .contact-list svg {
  width: 17px;
  height: 20px;
  margin-left: 7px;
}
.footer .footer-bottom {
  padding: 20px 50px;
  background-color: #0066B2;
  color: #fff;
}
.footer .footer-bottom p {
  font-weight: 300;
}
.footer .footer-bottom .footer-bottom-list li {
  display: inline-block;
  width: 55px;
  height: 32px;
  background-color: #F5FAFF;
  border-radius: 6px;
  margin-left: 7px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .footer .footer-bottom .footer-bottom-list {
    text-align: center;
  }
  .footer .footer-bottom .footer-bottom-list li {
    margin-bottom: 7px;
  }
}

/*===================
	about page style 
=====================*/
.about-page .about-us h2 {
  font-weight: 800;
  color: #DB1E3C;
}
.about-page .about-us .about-us-box {
  padding: 20px;
  border: 1px solid #EEEEEE;
  border-radius: 20px;
  width: 30%;
  min-height: 183px;
}
.about-page .about-us .about-us-box h4 {
  font-weight: 700;
  color: #DB1E3C;
  text-align: center;
}
.about-page .about-us .about-us-box p {
  color: #737373;
  text-align: justify;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
}
.about-page .about-info > div {
  width: 50%;
}
.about-page .about-info .info-img {
  width: 490px;
  height: 490px;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(192, 183, 191, 0.26), rgba(192, 183, 191, 0.26)), linear-gradient(212.23deg, #CEF0FF 18.95%, rgba(115, 197, 232, 0.395692) 46.92%, rgba(10, 135, 189, 0.52) 89.3%);
  text-align: center;
}
.about-page .about-info .info-img img {
  width: 97%;
}
.about-page .about-info .info-text h5 {
  font-weight: 700;
  color: #525457;
}
.about-page .about-info .info-text p {
  color: #737373;
}
.about-page .about-info .about-list {
  color: #212529;
  line-height: 2;
}
.about-page .about-info .about-list li.about-list-item {
  display: flex;
  align-items: start;
  justify-content: start;
}
.about-page .about-info .about-list li.about-list-item i {
  font-size: 6px;
  margin-left: 10px;
  display: block;
  margin-top: 12px;
}
@media only screen and (max-width: 768px) {
  .about-page .banner img {
    width: 100%;
  }
  .about-page .about-info > div {
    width: 100%;
  }
  .about-page .about-info .info-img {
    width: 100%;
    height: auto;
  }
  .about-page .about-us .about-us-box {
    width: 100%;
  }
}

/*===================
	contact page style 
=====================*/
.contact-page h1 {
  font-weight: 800;
  color: #DB1E3C;
}
.contact-page .contact-info > div {
  width: 50%;
}
.contact-page .contact-info .info-img img {
  width: 100%;
}
.contact-page .contact-info .info-form label {
  font-weight: 700;
  color: #212529;
}
.contact-page .contact-info .info-form input,
.contact-page .contact-info .info-form textarea {
  border-color: #EEEEEE;
  height: 50px;
  color: #737373;
  font-size: 15px;
  text-align: right;
}
.contact-page .contact-info .info-form input::placeholder,
.contact-page .contact-info .info-form textarea::placeholder {
  color: #737373;
}
.contact-page .contact-info .info-form textarea {
  height: auto;
}
@media only screen and (max-width: 768px) {
  .contact-page .contact-info > div {
    width: 100%;
  }
}

/*===================
	product page style 
=====================*/
.product-page .page-content .product-card .card-body .card-text {
  font-size: 16px;
}
.product-page .page-content .product-card .card-body a {
  margin: 0;
}
.product-page .page-content .product-card .card-body .arrives svg {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  stroke: #212529;
}
.product-page .page-content .product-card .card-body .sharing .list-sharing li {
  display: inline-block;
  margin-left: 7px;
}
.product-page .page-content .product-card .card-body .sharing .list-sharing li img {
  width: 24px;
}

/*===================
	shopping cart page style 
=====================*/
.shopping-cart-page .product-card {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #EEEEEE;
  border-radius: 0;
}
.shopping-cart-page .product-card .product-card-img {
  width: 100%;
  height: 190px;
  border: 1px solid #EEEEEE;
  border-radius: 12px;
  display: flex;
}
@media only screen and (max-width: 768px) {
  .shopping-cart-page .product-card .card-img-top {
    width: auto;
    height: 100%;
    display: block;
    margin: 0 auto;
  }
}

/*===================
	checkout  page style 
=====================*/
.checkout-page h5 {
  font-weight: 600;
}
.checkout-page .addresses .custom-radio input,
.checkout-page .payment-method .custom-radio input,
.checkout-page .shipping-address .custom-radio input {
  display: none;
}
.checkout-page .addresses .custom-radio input:checked + .radio-btn .check-icon,
.checkout-page .payment-method .custom-radio input:checked + .radio-btn .check-icon,
.checkout-page .shipping-address .custom-radio input:checked + .radio-btn .check-icon {
  background-color: #028C59;
}
.checkout-page .addresses .custom-radio input:checked + .radio-btn .check-icon > i,
.checkout-page .payment-method .custom-radio input:checked + .radio-btn .check-icon > i,
.checkout-page .shipping-address .custom-radio input:checked + .radio-btn .check-icon > i {
  opacity: 1;
  transform: translateX(0) scale(1);
}
.checkout-page .addresses .custom-radio .radio-btn,
.checkout-page .payment-method .custom-radio .radio-btn,
.checkout-page .shipping-address .custom-radio .radio-btn {
  margin: 10px;
  width: 100%;
  padding: 20px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid #EEEEEE;
}
.checkout-page .addresses .custom-radio .radio-btn .check-icon,
.checkout-page .payment-method .custom-radio .radio-btn .check-icon,
.checkout-page .shipping-address .custom-radio .radio-btn .check-icon {
  color: #fff;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  top: 25px;
  border-radius: 50%;
  border: 2px solid #EEEEEE;
}
.checkout-page .addresses .custom-radio .radio-btn .check-icon > i,
.checkout-page .payment-method .custom-radio .radio-btn .check-icon > i,
.checkout-page .shipping-address .custom-radio .radio-btn .check-icon > i {
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
  transform: translateX(-40%) scale(2);
}
.checkout-page .shipping-address .btn-bg {
  font-size: 13px;
}
.checkout-page .shipping-address .modal .modal-content {
  padding: 30px 0;
}
.checkout-page .shipping-address .modal .modal-content .addressForm {
  font-size: 15px;
}
.checkout-page .shipping-address .modal .modal-content .addressForm iframe {
  width: 100%;
  height: 300px;
  padding: 0 10px;
}
.checkout-page .shipping-address .modal .modal-content .addressForm .modal-body {
  padding: 0 60px;
}
.checkout-page .shipping-address .modal .modal-content .addressForm .custom-radio input:checked + .radio-btn .check-icon {
  background-color: #DB1E3C;
}
.checkout-page .shipping-address .modal .modal-content .addressForm .custom-radio .radio-btn {
  padding: 0 10px;
  border: none;
  margin: 0;
}
.checkout-page .shipping-address .modal .modal-content .addressForm .custom-radio .radio-btn .address-icon {
  padding-right: 30px;
}
.checkout-page .shipping-address .modal .modal-content .addressForm .custom-radio .radio-btn .check-icon {
  top: 0;
}
.checkout-page .shipping-address .modal .modal-content .addressForm .form-check-input:checked {
  background-color: #DB1E3C;
  border-color: #DB1E3C;
}
.checkout-page .shipping-address .modal .modal-content .addressForm label {
  color: #212529;
}
.checkout-page .receipt-date .custom-radio input {
  display: none;
}
.checkout-page .receipt-date .custom-radio input:checked + .radio-btn {
  background-color: #DB1E3C;
  color: #fff;
}
.checkout-page .receipt-date .custom-radio .radio-btn {
  margin: 10px;
  padding: 7px 20px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  border: 1px solid #DB1E3C;
  border-radius: 10px;
  color: #DB1E3C;
  text-align: center;
  font-size: 15px;
  min-width: 130px;
}
.checkout-page .receipt-date > p {
  color: #737373;
  font-size: 14px;
}
.checkout-page .receipt-date .shipping-time .radio-btn {
  border: 1px solid #EEEEEE;
  color: #212529;
}
.checkout-page .note label {
  font-weight: 700;
}
.checkout-page .note textarea {
  border: 1px solid #EEEEEE;
  font-size: 15px;
}
.checkout-page .payment-method {
  padding: 0 30px;
  border-bottom: 1px solid #EEEEEE;
}
.checkout-page .payment-method .custom-radio .radio-btn {
  padding: 0px;
  border: none;
}
.checkout-page .payment-method .custom-radio .radio-btn .check-icon {
  top: 8px;
}
.checkout-page .payment-method .custom-radio .img {
  display: inline-block;
  min-width: 90px;
  padding: 12px;
  border: 2px solid #EEEEEE;
  border-radius: 10px;
  text-align: center;
  height: 50px;
  min-width: 80px;
}
.checkout-page .payment-method .custom-radio .img svg {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
.checkout-page .payment-method .custom-radio .img span:nth-of-type(2) {
  color: #737373;
  padding-right: 10px;
  border-right: 1px solid #EEEEEE;
  margin-right: 10px;
}

/*===================
	profile  page style 
=====================*/
.profile-page {
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
}
.profile-page .nav-link {
  padding: 14px 58px 14px;
  text-align: right;
  font-size: 18px;
  color: #C0B7B7;
  font-weight: 600;
  border-radius: 0px;
}
.profile-page .nav-link.active {
  background-color: #D1E9FF;
  color: #737373;
}
.profile-page .sidebar {
  min-height: 600px;
  background: #F5FAFF;
  width: 270px;
  border-bottom: 5px solid #fff;
  position: absolute;
  right: 0;
  top: 0;
}
.profile-page .sidebar .user-info {
  padding: 40px 30px 30px;
}
.profile-page .sidebar .user-info p {
  margin: 0;
  line-height: 1.7;
}
.profile-page .sidebar .sidebar-list {
  padding: 30px 0;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
.profile-page .page-content {
  padding: 70px 0;
  min-height: 600px;
  padding-right: 100px;
}
.profile-page .page-content .balance .balance-box {
  width: 22%;
  text-align: center;
  background-color: #F5FAFF;
  padding: 20px 0;
  border-radius: 8px;
  font-weight: 600;
}
.profile-page .page-content .balance .balance-box:first-of-type {
  color: #028C59;
}
.profile-page .page-content .financial-operations .financ-box {
  padding: 20px;
  background-color: #F5FAFF;
  line-height: 2;
  font-size: 17px;
}
.profile-page .page-content .financial-operations .financ-box span {
  margin-left: 20px;
}
.profile-page .page-content .financial-operations .financ-box .text-muted {
  color: #F7F7F7;
  font-size: 13px;
}
.profile-page .modal .modal-content {
  padding: 30px 0;
}
.profile-page .modal .modal-content .accountForm {
  font-size: 15px;
}
.profile-page .modal .modal-content .accountForm .modal-body {
  padding: 0 60px;
}
.profile-page .modal .modal-content ul.nav {
  background-color: #F5FAFF;
}
.profile-page .modal .modal-content ul.nav .nav-link {
  padding: 15px 30px 15px;
}
.profile-page .order-card {
  padding: 30px 15px;
  border-bottom: 2px solid #EEEEEE;
  height: 160px;
}
.profile-page .order-card .order-card-icon {
  margin-left: 30px;
}
.profile-page .order-card .order-card-icon svg {
  width: 70px;
  height: 70px;
}
.profile-page .order-card .order-card-info {
  line-height: 2;
}
.profile-page .order-card .order-card-info svg {
  width: 25px;
  height: 25px;
}
.profile-page .order-card .order-card-btn .btn-gray-bg {
  min-width: 155px;
}
.profile-page #orders {
  border-bottom: 2px solid #EEEEEE;
}
.profile-page #orders .nav-link {
  min-width: 160px;
  text-align: center;
  padding: 10px 20px;
  border: none;
}
.profile-page #orders .nav-link.active {
  background-color: transparent;
  border-bottom: 3px solid #212529;
  color: #212529;
}

/*===================
	order details page style 
=====================*/
.order-details-page .complete-sale .payment-list li {
  display: inline-block;
  min-width: 90px;
  padding: 12px;
  border: 2px solid #EEEEEE;
  border-radius: 10px;
  text-align: center;
  height: 50px;
  width: 80px;
}
.order-details-page .complete-sale .payment-list li.active {
  border-color: #DB1E3C;
}
.order-details-page .complete-sale p svg {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}
.order-details-page .complete-sale .truck {
  stroke: #212529;
}
.order-details-page .product-card {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #EEEEEE;
  border-radius: 0;
}
.order-details-page .product-card .product-card-img {
  width: 100%;
  height: 190px;
  border: 1px solid #EEEEEE;
  border-radius: 12px;
  display: flex;
}

/*===================
	questions page style 
=====================*/
.questions-page h1 {
  font-weight: 700;
  color: #DB1E3C;
}
.questions-page .accordion-item {
  border-radius: 10px;
}
.questions-page .accordion-item .accordion-button {
  position: relative;
  overflow: hidden;
  padding-right: 30px;
  color: #212529 !important;
  font-weight: 700;
  border-radius: 10px;
  background-color: transparent !important;
  height: 65px;
}
.questions-page .accordion-item .accordion-button::after {
  display: none;
}
.questions-page .accordion-item .accordion-button span {
  position: absolute;
  right: 0;
  left: 0;
  width: 20px;
  height: 100%;
  background-color: #EEEEEE;
}
.questions-page .accordion-item .accordion-button i {
  font-size: 20px;
  color: #EEEEEE;
  margin-left: 15px;
}
.questions-page .accordion-item .accordion-button:not(.collapsed) span {
  background-color: #DB1E3C;
}
.questions-page .accordion-item .accordion-button:not(.collapsed) i {
  color: #DB1E3C;
}
.questions-page .accordion-item .accordion-body {
  padding: 20px 45px;
}
.questions-page .accordion-item .accordion-body ul li {
  line-height: 2.5;
}

/*===================
	privacy page style 
=====================*/
.privacy-page {
  line-height: 2.5;
}
.privacy-page h1,
.privacy-page h6,
.privacy-page h4 {
  font-weight: 700;
  color: #DB1E3C;
}
.privacy-page .privacy-content > div:first-of-type {
  width: 70%;
}
.privacy-page .privacy-content > div:first-of-type ul {
  list-style: inside;
}
.privacy-page .privacy-content > div:nth-of-type(2) {
  width: 25%;
}
@media only screen and (max-width: 768px) {
  .privacy-page .privacy-content > div:first-of-type {
    width: 100%;
  }
  .privacy-page .privacy-content > div:nth-of-type(2) {
    width: 100%;
  }
}
.privacy-page .privacy-content p {
  text-align: justify;
  margin: 0;
}
.privacy-page .privacy-content h6 {
  position: relative;
}
.privacy-page .privacy-content h6 > span {
  width: 20px;
  height: 20px;
  background-color: rgba(209, 233, 255, 0.8980392157);
  border-radius: 50%;
  position: absolute;
  right: -30px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.privacy-page .privacy-content h6 > span > span {
  width: 10px;
  height: 10px;
  background-color: #DB1E3C;
  border-radius: 50%;
}
.privacy-page .privacy-content .indexing li {
  display: flex;
  align-items: center;
  justify-content: start;
}
.privacy-page .privacy-content .indexing li > span {
  width: 15px;
  height: 15px;
  background-color: rgba(209, 233, 255, 0.8980392157);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.privacy-page .privacy-content .indexing li > span > span {
  width: 7px;
  height: 7px;
  background-color: #DB1E3C;
  border-radius: 50%;
}
.privacy-page .privacy-content .indexing li a {
  text-decoration: underline;
  font-size: 17px;
}/*# sourceMappingURL=style.css.map */