/*===================
	Global style 
=====================*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 1100px;
}

.margin-0 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.border-left {
  border-left: 1px solid #EEEEEE;
}

.padding-section {
  padding: 90px 0;
}
@media only screen and (max-width: 768px) {
  .padding-section {
    padding: 50px 0;
  }
}

.section-header h4 {
  font-weight: 700;
}

.btn-bg {
  background-color: #DB1E3C;
  border-radius: 10px;
  text-align: center;
  color: #fff !important;
}
.btn-bg:hover {
  background-color: #b60723;
}

.order-card {
  border: 1px solid #F7F7F7;
  background-color: #FDFDFD;
  color: #22262D;
  position: relative;
  line-height: 2;
}
.order-card .order-card-img {
  background-color: #F7F7F7;
}
.order-card .card-body .card-text {
  font-size: 13px;
}
.order-card .card-body .price span.old-price {
  color: #525457;
  text-decoration: line-through;
}
.order-card .card-body .price span.new-price {
  color: #DB1E3C;
  font-size: 17px;
}
.order-card .card-body a {
  width: 60%;
  display: block;
  margin: 0 auto;
}
.order-card .card-body .discount {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 15px;
  background-color: #DB1E3C;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-card .card-body .discount span {
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
}
.order-card .card-body .amount p {
  font-weight: 700;
}
.order-card .card-body .amount .input-number {
  width: 80px;
  border: none;
  text-align: center;
}
.order-card .card-body .amount .btn-number {
  color: #212529;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
}
.order-card .card-body .trash {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #EEEEEE;
  text-align: center;
}
.order-card .card-body .trash svg {
  width: 18px;
  height: 18px;
}

.breadcrumb {
  margin: 0;
  color: #212529;
  font-weight: 600;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item:before {
  font-family: "Font Awesome 5 Free";
  content: "\f053";
  font-weight: 600;
  margin: 0 15px;
  padding-right: 0;
  color: #212529;
  font-size: 10px;
}
.breadcrumb .breadcrumb-item.active {
  color: #212529;
  display: flex;
  align-items: center;
  justify-content: center;
}
.breadcrumb .breadcrumb-item a {
  color: #212529;
}
.breadcrumb .breadcrumb-item a:hover {
  color: #DB1E3C;
}

/*===================
	header style 
=====================*/
.header {
  border-bottom: 1px solid #EEEEEE;
}
.header .menu-list .nav li.nav-item {
  padding: 0 20px;
}
.header .menu-list .nav li.nav-item a {
  color: #212529;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}
.header .menu-list .nav li.nav-item svg {
  width: 24px;
  height: 17px;
  margin: 10px 0;
  stroke: #212529;
  transition: all 0.3s ease-in-out;
}
.header .menu-list .nav li.nav-item svg.translate-svg {
  stroke: none;
  fill: #212529;
}
.header .menu-list .nav li.nav-item:hover a {
  color: #DB1E3C;
}
.header .menu-list .nav li.nav-item:hover svg {
  stroke: #DB1E3C;
}
.header .menu-list .nav li.nav-item:hover svg.translate-svg {
  stroke: none;
  fill: #DB1E3C;
}
@media only screen and (max-width: 768px) {
  .header .menu-list {
    display: none;
  }
}

/*===================
	home page style 
=====================*/
.home-page .slider .owl-slider .owl-dots {
  position: absolute;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.home-page .slider .owl-slider .owl-dots .owl-dot span {
  background-color: transparent;
  border: 1px solid #DB1E3C;
}
.home-page .slider .owl-slider .owl-dots .owl-dot.active span {
  background: #DB1E3C;
}
.home-page .our-clients {
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  position: relative;
}
.home-page .our-clients .owl-clients .item {
  padding: 0 55px;
}
.home-page .hilwa-info {
  background-color: #F5FAFF;
}
.home-page .hilwa-info .info-img img {
  height: 600px;
}
.home-page .hilwa-info .info-text {
  position: relative;
  min-height: 67px;
  min-width: 310px;
}
.home-page .hilwa-info .info-text.padding-right {
  padding-right: 67px;
}
.home-page .hilwa-info .info-text.padding-right img.shap01 {
  position: absolute;
  right: 0;
  top: 14px;
  height: 30px;
}
.home-page .hilwa-info .info-text.padding-right img.shap02 {
  position: absolute;
  right: 27px;
  bottom: -10px;
  transform: rotateY(180deg);
  width: 90%;
}
.home-page .hilwa-info .info-text.padding-left {
  padding-left: 67px;
}
.home-page .hilwa-info .info-text.padding-left img.shap01 {
  position: absolute;
  left: 0;
  top: 14px;
  height: 30px;
}
.home-page .hilwa-info .info-text.padding-left img.shap02 {
  position: absolute;
  left: 27px;
  bottom: -10px;
  width: 90%;
}
.home-page .hilwa-info .info-text p {
  font-size: 17px;
}
.home-page .certificates .owl-certificates .item {
  padding: 0 55px;
}

/*===================
	footer style 
=====================*/
.footer {
  background-color: #F5FAFF;
  line-height: 2;
}
.footer .footer-inner {
  color: #525457;
}
.footer .footer-inner a {
  color: #525457;
}
.footer .footer-inner h6 {
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.footer .footer-inner .footer-list li.footer-list-item i {
  font-size: 6px;
  margin-left: 10px;
}
.footer .footer-inner .footer-list li.footer-list-item:hover a {
  color: #DB1E3C;
}
.footer .footer-inner .footer-list li.footer-list-item:hover i {
  color: #DB1E3C;
}
.footer .footer-inner .about {
  text-align: justify;
  width: 80%;
  line-height: 1.7;
}
.footer .footer-inner .social-list li {
  display: inline-block;
}
.footer .footer-inner .social-list li a {
  width: 25px;
  height: 25px;
  border: 1px solid #525457;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 7px;
  transition: all 0.3s ease-in-out;
}
.footer .footer-inner .social-list li a:hover {
  background-color: #fff;
  border-color: #DB1E3C;
}
.footer .footer-inner .social-list li a:hover i {
  color: #DB1E3C;
}
.footer .footer-inner .download-list li {
  display: inline-block;
}
.footer .footer-inner .contact-list svg {
  width: 17px;
  height: 20px;
  margin-left: 7px;
}
.footer .footer-bottom {
  padding: 20px 50px;
  background-color: #0066B2;
  color: #fff;
}
.footer .footer-bottom p {
  font-weight: 300;
}
.footer .footer-bottom .footer-bottom-list li {
  display: inline-block;
  width: 55px;
  height: 32px;
  background-color: #F5FAFF;
  border-radius: 6px;
  margin-left: 7px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .footer .footer-bottom .footer-bottom-list {
    text-align: center;
  }
  .footer .footer-bottom .footer-bottom-list li {
    margin-bottom: 7px;
  }
}

/*===================
	about page style 
=====================*/
.about-page .about-us h2 {
  font-weight: 800;
  color: #DB1E3C;
}
.about-page .about-us .about-us-box {
  padding: 20px;
  border: 1px solid #EEEEEE;
  border-radius: 20px;
  width: 30%;
  min-height: 183px;
}
.about-page .about-us .about-us-box h4 {
  font-weight: 700;
  color: #DB1E3C;
  text-align: center;
}
.about-page .about-us .about-us-box p {
  color: #737373;
  text-align: justify;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
}
.about-page .about-info .info-img {
  width: 490px;
  height: 490px;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(192, 183, 191, 0.26), rgba(192, 183, 191, 0.26)), linear-gradient(212.23deg, #CEF0FF 18.95%, rgba(115, 197, 232, 0.395692) 46.92%, rgba(10, 135, 189, 0.52) 89.3%);
  text-align: center;
}
.about-page .about-info .info-img img {
  width: 97%;
}
.about-page .about-info .info-text h5 {
  font-weight: 700;
  color: #525457;
}
.about-page .about-info .info-text p {
  color: #737373;
}
.about-page .about-info .about-list {
  color: #212529;
  line-height: 2;
}
.about-page .about-info .about-list li.about-list-item {
  display: flex;
  align-items: start;
  justify-content: start;
}
.about-page .about-info .about-list li.about-list-item i {
  font-size: 6px;
  margin-left: 10px;
  display: block;
  margin-top: 12px;
}

/*===================
	contact page style 
=====================*/
.contact-page h1 {
  font-weight: 800;
  color: #DB1E3C;
}
.contact-page .contact-info .info-img img {
  width: 100%;
}
.contact-page .contact-info .info-form label {
  font-weight: 700;
  color: #212529;
}
.contact-page .contact-info .info-form input,
.contact-page .contact-info .info-form textarea {
  border-color: #EEEEEE;
  height: 50px;
  color: #737373;
  font-size: 15px;
  text-align: right;
}
.contact-page .contact-info .info-form input::placeholder,
.contact-page .contact-info .info-form textarea::placeholder {
  color: #737373;
}
.contact-page .contact-info .info-form textarea {
  height: auto;
}

/*===================
	product page style 
=====================*/
.product-page .page-content .order-card .card-body .card-text {
  font-size: 16px;
}
.product-page .page-content .order-card .card-body a {
  margin: 0;
}
.product-page .page-content .order-card .card-body .arrives svg {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
.product-page .page-content .order-card .card-body .sharing .list-sharing li {
  display: inline-block;
  margin-left: 7px;
}
.product-page .page-content .order-card .card-body .sharing .list-sharing li img {
  width: 24px;
}

/*===================
	shopping cart page style 
=====================*/
.shopping-cart-page .order-card {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #EEEEEE;
  border-radius: 0;
}
.shopping-cart-page .order-card .order-card-img {
  width: 100%;
  height: 190px;
  border: 1px solid #EEEEEE;
  border-radius: 12px;
}
.shopping-cart-page .complete-sale {
  padding: 60px 0;
  border: 1px solid #EEEEEE;
  border-radius: 12px;
  font-size: 13px;
}
.shopping-cart-page .complete-sale .discount-code {
  border-bottom: 1px solid #EEEEEE;
}
.shopping-cart-page .complete-sale .discount-code .input-group {
  padding: 6px;
  border: 1px solid #EEEEEE;
  width: 90%;
  margin: 0 auto;
  border-radius: 6px;
}
.shopping-cart-page .complete-sale .discount-code .input-group input {
  border: none;
  font-size: 13px;
  outline: none;
}
.shopping-cart-page .complete-sale .discount-code .input-group button {
  border-radius: 6px !important;
  background-color: #212529;
  color: #fff;
  padding: 3px 12px;
  font-size: 13px;
}
.shopping-cart-page .complete-sale .table tbody tr td {
  padding: 12px 30px;
}
.shopping-cart-page .complete-sale .table tbody tr:last-child {
  border-top: 1px solid #EEEEEE;
}
.shopping-cart-page .complete-sale .modal .modal-content {
  padding: 30px 60px;
}
.shopping-cart-page .complete-sale .modal .modal-content .modal-header {
  border: none;
  justify-content: center;
}
.shopping-cart-page .complete-sale .modal .modal-content .modal-header h6 {
  font-weight: 700;
}
.shopping-cart-page .complete-sale .modal .modal-content .modal-footer {
  border: none;
}
.shopping-cart-page .complete-sale .modal .modal-content .modal-footer .btn-bg {
  border-radius: 8px;
  font-size: 13px;
  height: 45px;
  border: 1px solid #DB1E3C;
}
.shopping-cart-page .complete-sale .modal .modal-content .modal-footer .btn-bg:nth-child(2) {
  border: 1px solid #DB1E3C;
  background-color: #fff;
  color: #DB1E3C !important;
}/*# sourceMappingURL=style.css.map */