@import "./sass/colors";
@import "./sass/mediaQuery";
/*===================
	Global style 
=====================*/

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Cairo', sans-serif;
  position: relative;
  width: 100%;
  overflow-x: hidden;

}

.container {
  max-width: 1100px;
}

.margin-0 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.border-left {
  border-left: 1px solid $borderColor;
}


.padding-section {
  padding: 90px 0;

  @include devices(tablet) {
    padding: 50px 0;
  }
}

.section-header {
  h4 {
    font-weight: 700;
  }
}

.btn-bg {
  background-color: $redColor;
  border-radius: 10px;
  text-align: center;
  color: $whiteColor !important;

  &:hover {
    background-color: #b60723;
  }
}

.btn-link {
  color: $redColor;

  &:hover {
    color: $redColor;
  }
}

.order-card {
  border: 1px solid $grayLightColor;
  background-color: $grayLight2Color;
  color: $textColor;
  position: relative;
  line-height: 2;

  .order-card-img {
    background-color: $grayLightColor;
  }

  .card-body {
    .card-text {
      font-size: 13px;
    }

    .price {
      span {
        &.old-price {
          color: $grayBlackColor;
          text-decoration: line-through;
        }

        &.new-price {
          color: $redColor;
          font-size: 17px;
        }
      }
    }

    a {
      width: 60%;
      display: block;
      margin: 0 auto;
    }

    .discount {
      width: 90px;
      height: 90px;
      position: absolute;
      top: 15px;
      background-color: $redColor;
      color: $whiteColor;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        font-size: 24px;
        line-height: 1.2;
        text-align: center;
      }
    }

    .amount {
      p {
        font-weight: 700;
      }

      .input-number {
        width: 80px;
        border: none;
        text-align: center;
      }

      .btn-number {
        color: $mainColor;
        border: 1px solid $borderColor;
        border-radius: 5px;
      }
    }

    .trash {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: $borderColor;
      text-align: center;

      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
}

.breadcrumb {
  margin: 0;
  color: $mainColor;
  font-weight: 600;

  .breadcrumb-item {
    +.breadcrumb-item:before {
      font-family: "Font Awesome 5 Free";
      content: "\f053";
      font-weight: 600;
      margin: 0 15px;
      padding-right: 0;
      color: $mainColor;
      font-size: 10px;
    }

    &.active {
      color: $mainColor;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    a {
      color: $mainColor;

      &:hover {
        color: $redColor;
      }
    }
  }

}

label.error {
  color: $redColor !important;
}

input.error {
  border: 1px solid $redColor;
}

/*===================
	header style 
=====================*/
.header {
  border-bottom: 1px solid $borderColor;

  .menu-list {
    .nav {
      li.nav-item {
        padding: 0 20px;

        a {
          color: $mainColor;
          font-weight: 400;
          transition: all 0.3s ease-in-out;
        }

        svg {
          width: 24px;
          height: 17px;
          margin: 10px 0;
          stroke: $mainColor;
          transition: all 0.3s ease-in-out;

          &.translate-svg {
            stroke: none;
            fill: $mainColor
          }
        }

        &:hover {
          a {
            color: $redColor;
          }

          svg {
            stroke: $redColor;

            &.translate-svg {
              stroke: none;
              fill: $redColor
            }
          }
        }
      }
    }

    @include devices(tablet) {
      display: none;
    }
  }
}

/*===================
	home page style 
=====================*/
.home-page {
  .slider {
    .owl-slider {
      .owl-dots {
        position: absolute;
        bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        .owl-dot {
          span {
            background-color: transparent;
            border: 1px solid $redColor
          }

          &.active {
            span {
              background: $redColor;
            }
          }
        }

      }
    }
  }

  .our-clients {
    border-top: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;
    position: relative;

    .owl-clients {
      .item {
        padding: 0 55px;
      }
    }
  }

  .hilwa-info {
    background-color: $blueLightColor;

    .info-img {
      img {
        height: 600px;
      }
    }

    .info-text {
      position: relative;
      min-height: 67px;
      min-width: 310px;

      &.padding-right {
        padding-right: 67px;

        img.shap01 {
          position: absolute;
          right: 0;
          top: 14px;
          height: 30px;
        }

        img.shap02 {
          position: absolute;
          right: 27px;
          bottom: -10px;
          transform: rotateY(180deg);
          width: 90%;
        }
      }

      &.padding-left {
        padding-left: 67px;

        img.shap01 {
          position: absolute;
          left: 0;
          top: 14px;
          height: 30px;
        }

        img.shap02 {
          position: absolute;
          left: 27px;
          bottom: -10px;
          // transform: rotateY(180deg);
          width: 90%;
        }
      }

      p {
        font-size: 17px;
      }



    }
  }

  .certificates {
    .owl-certificates {
      .item {
        padding: 0 55px;
      }
    }

  }
}

/*===================
	footer style 
=====================*/
.footer {
  background-color: $blueLightColor;
  line-height: 2;

  .footer-inner {
    color: $grayBlackColor;

    a {
      color: $grayBlackColor;
    }

    h6 {
      font-weight: 600;
      transition: all 0.3s ease-in-out;
    }

    .footer-list {
      li.footer-list-item {
        i {
          font-size: 6px;
          margin-left: 10px;
        }

        &:hover {
          a {
            color: $redColor;
          }

          i {
            color: $redColor;
          }
        }
      }
    }

    .about {
      text-align: justify;
      width: 80%;
      line-height: 1.7;
    }

    .social-list {
      li {
        display: inline-block;

        a {
          width: 25px;
          height: 25px;
          border: 1px solid $grayBlackColor;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 7px;
          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: $whiteColor;
            border-color: $redColor;

            i {
              color: $redColor;
            }
          }

        }
      }
    }

    .download-list {
      li {
        display: inline-block;
      }
    }

    .contact-list {
      svg {
        width: 17px;
        height: 20px;
        margin-left: 7px;
      }
    }

  }

  .footer-bottom {
    padding: 20px 50px;
    background-color: $blueDarkColor;
    color: $whiteColor;

    p {
      font-weight: 300;

    }

    .footer-bottom-list {
      li {
        display: inline-block;
        width: 55px;
        height: 32px;
        background-color: $blueLightColor;
        border-radius: 6px;
        margin-left: 7px;
        text-align: center;

      }

      @include devices(tablet) {
        text-align: center;

        li {
          margin-bottom: 7px;
        }
      }
    }
  }
}

/*===================
	about page style 
=====================*/
.about-page {

  .about-us {
    h2 {
      font-weight: 800;
      color: $redColor;
    }

    .about-us-box {
      padding: 20px;
      border: 1px solid $borderColor;
      border-radius: 20px;
      width: 30%;
      min-height: 183px;

      h4 {
        font-weight: 700;
        color: $redColor;
        text-align: center;
      }

      p {
        color: $textGrayColor;
        text-align: justify;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 3;
      }
    }
  }

  .about-info {
    >div {
      width: 50%;
    }

    .info-img {
      width: 490px;
      height: 490px;
      border-radius: 50%;
      background: linear-gradient(0deg, rgba(192, 183, 191, 0.26), rgba(192, 183, 191, 0.26)),
        linear-gradient(212.23deg, #CEF0FF 18.95%, rgba(115, 197, 232, 0.395692) 46.92%, rgba(10, 135, 189, 0.52) 89.3%);
      text-align: center;

      img {
        width: 97%;
      }
    }

    .info-text {
      h5 {
        font-weight: 700;
        color: $grayBlackColor;
      }

      p {
        color: $textGrayColor;
      }
    }

    .about-list {

      color: $mainColor;
      line-height: 2;

      li.about-list-item {
        display: flex;
        align-items: start;
        justify-content: start;

        i {
          font-size: 6px;
          margin-left: 10px;
          display: block;
          margin-top: 12px;
        }
      }
    }
  }

  @include devices(tablet) {
    .banner {
      img {
        width: 100%;
      }
    }

    .about-info {
      >div {
        width: 100%;
      }

      .info-img {
        width: 100%;
        height: auto;
      }
    }

    .about-us {
      .about-us-box {
        width: 100%;
      }
    }
  }


}

/*===================
	contact page style 
=====================*/
.contact-page {
  h1 {
    font-weight: 800;
    color: $redColor;
  }

  .contact-info {
    >div {
      width: 50%;
    }

    .info-img {
      img {
        width: 100%;
      }
    }

    .info-form {
      label {
        font-weight: 700;
        color: $mainColor;
      }

      input,
      textarea {
        border-color: $borderColor;
        height: 50px;
        color: $textGrayColor;
        font-size: 15px;
        text-align: right;

        &::placeholder {
          color: $textGrayColor
        }
      }

      textarea {
        height: auto;
      }
    }
  }

  @include devices(tablet) {
    .contact-info {
      >div {
        width: 100%;
      }
    }
  }

}

/*===================
	product page style 
=====================*/
.product-page {
  .page-content {
    .order-card {
      .card-body {
        .card-text {
          font-size: 16px;
        }

        a {
          margin: 0;
        }

        .arrives {
          svg {
            width: 20px;
            height: 20px;
            margin-left: 5px;
          }
        }

        .sharing {
          .list-sharing {
            li {
              display: inline-block;
              margin-left: 7px;

              img {
                width: 24px;
              }
            }
          }
        }
      }
    }
  }
}

/*===================
	shopping cart page style 
=====================*/
.shopping-cart-page {
  .order-card {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid $borderColor;
    border-radius: 0;

    .order-card-img {
      width: 100%;
      height: 190px;
      border: 1px solid $borderColor;
      border-radius: 12px;
    }

  }

  .complete-sale {
    padding: 60px 0;
    border: 1px solid $borderColor;
    border-radius: 12px;
    font-size: 13px;

    .discount-code {
      border-bottom: 1px solid $borderColor;

      .input-group {
        padding: 6px;
        border: 1px solid $borderColor;
        width: 90%;
        margin: 0 auto;
        border-radius: 6px;


        input {
          border: none;
          font-size: 13px;
          outline: none;

        }

        button {
          border-radius: 6px !important;
          background-color: $mainColor;
          color: $whiteColor;
          padding: 3px 12px;
          font-size: 13px;

        }
      }

    }

    .table {
      tbody {
        tr {
          td {
            padding: 12px 30px;
          }

          &:last-child {
            border-top: 1px solid $borderColor;
          }
        }
      }
    }

    .modal {
      .modal-content {
        padding: 30px 60px;

        .modal-header {
          border: none;
          justify-content: center;

          h6 {
            font-weight: 700;

          }
        }

        .modal-footer {
          border: none;

          .btn-bg {
            border-radius: 8px;
            font-size: 13px;
            height: 45px;
            border: 1px solid $redColor;

            &:nth-child(2) {
              border: 1px solid $redColor;
              background-color: $whiteColor;
              color: $redColor !important;
            }
          }
        }

        label,
        p,
        input {
          color: $textGrayColor;
        }
      }
    }

    .number-code {
      direction: ltr;
      text-align: center;

      input {
        width: 60px;
        height: 60px;
        border: 1px solid $borderColor;
        margin: 0 5px;
        border-radius: 8px;
        font-size: 31px;
        text-align: center;

        &::placeholder {
          color: $borderColor;
        }
      }

      /* Chrome, Safari, Edge, Opera */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;

      }

      /* Firefox */
      input[type=number] {
        -moz-appearance: textfield;
      }
    }
  }

  @include devices(tablet) {
    .order-card {
      .card-img-top {
        width: auto;
        height: 100%;
        display: block;
        margin: 0 auto;
      }
    }
  }
}