@import "./sass/colors";
@import "./sass/mediaQuery";
/*===================
	Global style 
=====================*/

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Cairo', sans-serif;
  position: relative;
  width: 100%;
  overflow-x: hidden;

}

.container {
  max-width: 1100px;
}

.margin-0 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.border-left {
  border-left: 1px solid $borderColor;
}


.padding-section {
  padding: 50px 0;

  @include devices(tablet) {
    padding: 50px 0;
  }
}

.section-header {
  h4 {
    font-weight: 700;
  }
}

.btn-bg {
  background-color: $redColor;
  border-radius: 8px;
  text-align: center;
  color: $whiteColor !important;
  display: block;
  width: 185px;
  min-height: 40px;
  margin: 0 auto;

  &:hover {
    background-color: #b60723;
  }
}

.btn-gray-bg {
  background-color: $borderColor;
  border-radius: 8px;
  text-align: center;
  color: $mainColor !important;
  min-width: 100px;

  svg {
    width: 15px;
    height: 15px;
    margin-left: 5px;
  }

  &:hover {
    background-color: #dcdcdc;
  }

}

.btn-white-bg {
  border: 1px solid $redColor !important;
  background-color: $whiteColor;
  color: $redColor !important;

  &:hover {
    background-color: #fde8eb;
  }
}

.btn-blue-bg {
  background-color: $blueLightColor;
  border-radius: 8px;
  text-align: center;
  color: $blueDarkColor ;
  min-width: 155px;
  padding: 10px;

  svg {
    width: 15px;
    height: 15px;
    margin-left: 5px;
    stroke: $blueDarkColor;
  }
}

.btn-green-bg {
  background-color: $greenLightColor;
  border-radius: 8px;
  text-align: center;
  color: $greenColor !important;
  min-width: 155px;

  &:hover {
    background-color: #028c5936;
  }
}

.btn-link {
  color: $redColor !important;
}

.btn-gray-link {
  color: $textGrayColor !important;
}

.product-card {
  border: 1px solid $grayLightColor;
  background-color: $grayLight2Color;
  color: $textColor;
  position: relative;
  line-height: 2;
  transition: all ease-in-out .3s;

  .product-card-img {
    background-color: $grayLightColor;
  }

  .card-body {
    .card-text {
      font-size: 13px;
    }

    .price {
      span {
        &.old-price {
          color: $grayBlackColor;
          text-decoration: line-through;
        }

        &.new-price {
          color: $redColor;
          font-size: 17px;
        }
      }
    }

    a {
      width: 60%;
      display: block;
      margin: 0 auto;
    }

    .discount {
      width: 90px;
      height: 90px;
      position: absolute;
      top: 15px;
      background-color: $redColor;
      color: $whiteColor;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;

      span {
        font-size: 24px;
        line-height: 1.2;
        text-align: center;
      }
    }

    .amount {
      p {
        font-weight: 700;
      }

      .input-qty {
        width: 80px;
        border: none;
        text-align: center;
      }

      .btn-number {
        color: $mainColor;
        border: 1px solid $borderColor;
        border-radius: 5px;
      }
    }

    .trash {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: $borderColor;
      text-align: center;
      min-width: 35px;
      padding: 0;
      display: flex;

      align-items: center;
      justify-content: center;

      svg {
        width: 18px;
        height: 18px;
        margin: 0;
      }
    }

    a.card-title {
      color: $mainColor;
      width: 100%;
      transition: all ease-in-out .3s;

      &:hover {
        color: $redColor;
      }
    }
  }

  &:hover {
    box-shadow: 0 5px 16px rgba(137, 137, 137, 0.1);

  }

  @include devices(tablet) {

    .card-img-top {
      width: auto;
      height: 100%;
      display: block;
      margin: 0 auto;
    }

    .empty-cart {
      p {
        width: 80%;
      }
    }
  }
}

.breadcrumb {
  margin: 0;
  color: $mainColor;
  font-weight: 600;

  .breadcrumb-item {
    +.breadcrumb-item:before {
      font-family: "Font Awesome 5 Free";
      content: "\f053";
      font-weight: 600;
      margin: 0 15px;
      padding-right: 0;
      color: $mainColor;
      font-size: 10px;
    }

    &.active {
      color: $mainColor;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    a {
      color: $mainColor;

      &:hover {
        color: $redColor;
      }
    }
  }

}

label.error {
  color: $redColor !important;
}

input.error {
  border: 1px solid $redColor;
}

.modal {
  .modal-content {
    padding: 30px 60px;

    .modal-header {
      border: none;
      justify-content: center;

      h6 {
        font-weight: 700;

      }
    }

    .modal-footer {
      border: none;

      .btn-bg {
        border-radius: 8px;
        font-size: 13px;
        height: 45px;
        border: 1px solid $redColor;
      }
    }

    label,
    p,
    input {
      color: $textGrayColor;
      font-size: 15px;
    }

    input:not([type='checkbox']) {
      font-size: 14px;
      height: 45px;
    }

    .others {
      display: none;
    }
  }
}

.complete-sale {
  padding: 60px 0;
  border: 1px solid $borderColor;
  border-radius: 12px;
  font-size: 13px;

  .discount-code {
    border-bottom: 1px solid $borderColor;

    .input-group {
      padding: 6px;
      border: 1px solid $borderColor;
      width: 90%;
      margin: 0 auto;
      border-radius: 6px;


      input {
        border: none;
        font-size: 13px;
        outline: none;

      }

      button {
        border-radius: 6px !important;
        background-color: $mainColor;
        color: $whiteColor;
        padding: 3px 12px;
        font-size: 13px;

      }
    }

  }

  .table {
    tbody {
      tr {
        td {
          padding: 12px 30px;
        }

        &:last-child {
          border-top: 1px solid $borderColor;
        }
      }
    }
  }

  .number-code {
    direction: ltr;
    text-align: center;

    input {
      width: 60px;
      height: 60px;
      border: 1px solid $borderColor;
      margin: 0 5px;
      border-radius: 8px;
      font-size: 31px;
      text-align: center;

      &::placeholder {
        color: $borderColor;
      }
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;

    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
      font-size: 30px;
    }
  }
}

.address-icon {
  padding-right: 50px;

  .icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: $borderColor;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;

    svg {
      width: 30px;
      height: 30px;
    }
  }

  button.btn-gray-bg {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  .close {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $borderColor;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    left: 20px;
  }

}

.shopping-cart {
  cursor: pointer;
  position: relative;

  .num-cart {
    position: absolute;
    height: 15px;
    width: 15px;
    top: -3px;
    left: 16px;
    text-align: center;
    border-radius: 50%;
    background-color: $redColor;
    color: $whiteColor;
    font-size: 10px;

    @include devices(tablet) {
      right: 45%;
      top: 9px;
    }
  }

  .cart-list {
    position: absolute;
    left: 0;
    top: 45px;
    background-color: $whiteColor;
    width: 300px;
    border: 1px solid $borderColor;
    padding: 10px;
    border-radius: 5px;
    display: none;

    .product-card {
      line-height: normal;
      font-size: 13px;
      border-radius: 0px;

      .card-text,
      .card-title,
      .price {
        margin: 0 !important;
        font-size: 13px;
      }

      .new-price {
        font-size: 13px !important;
      }

      .trash {
        width: 25px;
        min-width: 25px;
        height: 25px;
        background-color: transparent;

        svg {
          width: 15px;
          height: 15px;
          stroke: $redColor
        }
      }

    }

    .btn-bg {
      display: inline-block;
      width: 88px;
      min-height: 35px;
      font-size: 13px;
      margin: 0;
      margin-right: 10px;
    }

    .table {
      margin: 0;

      tr {
        border: none;
      }

      td {
        padding-top: 0;
        padding-bottom: 0;
        text-align: center;
      }
    }

  }

  .total {
    font-size: 14px;
    color: $redColor;
  }

}

.fotorama {
  overflow: visible;

  .fotorama__wrap,
  .fotorama__stage,
  .fotorama__stage__shaft {
    width: 100% !important;
  }

  .fotorama__stage {
    max-height: 450px;
  }

  .fotorama__nav-wrap {
    width: 100%;
  }

  .fotorama__thumb {
    border: 2px solid $borderColor
  }

  .fotorama__thumb-border {
    border-color: $redColor
  }

  .fotorama__thumb:hover {
    border-color: $borderColor;
    opacity: 0.8;
  }

  .fotorama__fullscreen-icon {
    display: none;
  }

  .fotorama__stage__frame {
    background: $grayLightColor;

    .fotorama__img {
      height: 80% !important;
      width: auto !important;
      margin: auto !important;
    }
  }
}

.swip-up {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 20px;
  background-color: $redColor;
  border-radius: 50%;
  color: #fff;
  font-size: 17px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  z-index: 100;
  display: inline;
  transition: all .5s ease-in-out;
}
.contact {
  position: fixed;
  left: 30px;
  bottom: 30px;
  z-index: 98;

  >a {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $whiteColor;

    &.call {
      background-color: $redColor;
      margin-bottom: 10px;
      position: relative;

      i {
        font-size: 30px;
      }

      span {
        position: absolute;
        left: 70px;
        top: 11px;
        background-color: $whiteColor;
        width: 288px;
        padding: 10px;
        color: $mainColor;
        font-weight: 600;
        border-radius: 8px;
        box-shadow: 0 0px 6px #db1e3c29;
        border: 1px solid $borderColor;
        font-size: 14px;
        opacity: 0;
        transition: all ease-in-out .5s
      }

      ;

      &:hover {
        span {
          opacity: 1;
          left: 80px;
        }
      }
    }

    &.whatsapp-call {
      background-color: #52CB5F;

      i {
        font-size: 37px;
      }
    }


  }
}

/*===================
	header style 
=====================*/
.header {
  border-bottom: 1px solid $borderColor;
  position: absolute;
  top: -80px;
  right: 0;
  left: 0;
  z-index: 100;

  .navHeader {
    height: 77px;

  }

  .menu-btn {
    display: none;
  }

  &.is-sticky {
    position: fixed;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
    top: 0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    animation: slideDown 0.35s ease-out;

  }

  @include devices(tablet) {
    .menu-list {
      display: none
    }

    .menu-btn {
      display: block;
      position: absolute;
      right: 20px;
      font-size: 20px;
    }

    .logo {
      img {
        height: 60px;
      }
    }
  }
}

div[class*="-page"] {
  margin-top: 80px;
}

.mobile-navbar {
  background-color: rgba(255, 255, 255, 0.95);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 10000;
  display: none;
  align-items: center;
  justify-content: center;

  .close-btn {
    position: absolute;
    top: 0;
    left: 0;

    i {
      font-size: 25px;
    }
  }

  .search-input-btn {
    background-color: #f2f1f0;
    border-radius: 20px;
    height: 33px;
    padding: 0 .75em;
    border: 1px solid #ddd;

    .search-field {
      height: 100%;
      width: 100%;
      background: transparent;
      border: none;
      outline: none;

      &::placeholder {
        color: $borderColor
      }
    }
  }

  .menu-list {
    .nav {
      display: block;
      width: 80%;
      margin: 0 auto;

      .nav-item a {
        display: block;
        text-align: center;
        padding: 15px 0;

        &:hover {
          background-color: #f2f1f0;
        }
      }

      &:first-of-type {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 2px solid $borderColor;
      }
    }
  }
}

.menu-list {
  .nav {
    li.nav-item {
      padding: 0 20px;

      a {
        color: $mainColor;
        font-weight: 400;
        transition: all 0.3s ease-in-out;
      }

      svg {
        width: 24px;
        height: 17px;
        stroke: $mainColor;
        transition: all 0.3s ease-in-out;

        &.translate-svg {
          stroke: none;
          fill: $mainColor
        }
      }

      &:hover {
        a {
          color: $redColor;
        }

        svg {
          stroke: $redColor;

          &.translate-svg {
            stroke: none;
            fill: $redColor
          }
        }
      }

      &.active {
        a {
          color: $redColor;
        }
      }
    }
  }
}

/*===================
	home page style 
=====================*/
.home-page {
  position: relative;

  .slider {
    .owl-slider {
      .owl-dots {
        position: absolute;
        bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        .owl-dot {
          span {
            background-color: transparent;
            border: 1px solid $redColor
          }

          &.active {
            span {
              background: $redColor;
            }
          }
        }

      }
    }
  }

  .our-clients {
    border-top: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;
    position: relative;

    .owl-clients {
      .item {
        padding: 0 55px;
      }
    }
  }

  .hilwa-info {
    background-color: $blueLightColor;

    .info-img {
      img {
        height: 600px;
      }
    }

    .info-text {
      position: relative;
      min-height: 67px;
      min-width: 310px;

      &.padding-right {
        padding-right: 67px;

        img.shap01 {
          position: absolute;
          right: 0;
          top: 14px;
          height: 30px;
        }

        img.shap02 {
          position: absolute;
          right: 27px;
          bottom: -10px;
          transform: rotateY(180deg);
          width: 90%;
        }
      }

      &.padding-left {
        padding-left: 67px;

        img.shap01 {
          position: absolute;
          left: 0;
          top: 14px;
          height: 30px;
        }

        img.shap02 {
          position: absolute;
          left: 27px;
          bottom: -10px;
          // transform: rotateY(180deg);
          width: 90%;
        }
      }

      p {
        font-size: 17px;
      }

      @include devices(tablet) {
        &.padding-right {
          padding-right: 33px;
        }

        &.padding-left {
          padding-left: 33px;
        }
      }
    }
  }

  .certificates {
    .owl-certificates {
      .item {
        padding: 0 55px;
      }
    }

  }
}

/*===================
	footer style 
=====================*/
.footer {
  background-color: $blueLightColor;
  line-height: 2;

  .footer-inner {
    color: $grayBlackColor;

    a {
      color: $grayBlackColor;
    }

    h6 {
      font-weight: 600;
      transition: all 0.3s ease-in-out;
    }

    .footer-list {
      li.footer-list-item {
        i {
          font-size: 6px;
          margin-left: 10px;
        }

        &:hover {
          a {
            color: $redColor;
          }

          i {
            color: $redColor;
          }
        }
      }
    }

    .about {
      text-align: justify;
      width: 80%;
      line-height: 1.7;
    }

    .social-list {
      li {
        display: inline-block;

        a {
          width: 25px;
          height: 25px;
          border: 1px solid $grayBlackColor;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 7px;
          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: $whiteColor;
            border-color: $redColor;

            i {
              color: $redColor;
            }
          }

        }
      }
    }

    .download-list {
      li {
        display: inline-block;
      }
    }

    .contact-list {
      svg {
        width: 17px;
        height: 20px;
        margin-left: 7px;
      }
    }

  }

  .footer-bottom {
    padding: 20px 50px;
    background-color: $blueDarkColor;
    color: $whiteColor;

    p {
      font-weight: 300;

    }

    .footer-bottom-list {
      li {
        display: inline-block;
        width: 55px;
        height: 32px;
        background-color: $blueLightColor;
        border-radius: 6px;
        margin-left: 7px;
        text-align: center;

      }

      @include devices(tablet) {
        text-align: center;

        li {
          margin-bottom: 7px;
        }
      }
    }
  }
}

/*===================
	about page style 
=====================*/
.about-page {

  .about-us {
    h2 {
      font-weight: 800;
      color: $redColor;
    }

    .about-us-box {
      padding: 20px;
      border: 1px solid $borderColor;
      border-radius: 20px;
      width: 30%;
      min-height: 183px;

      h4 {
        font-weight: 700;
        color: $redColor;
        text-align: center;
      }

      p {
        color: $textGrayColor;
        text-align: justify;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 3;
      }
    }
  }

  .about-info {
    >div {
      width: 50%;
    }

    .info-img {
      width: 490px;
      height: 490px;
      border-radius: 50%;
      background: linear-gradient(0deg, rgba(192, 183, 191, 0.26), rgba(192, 183, 191, 0.26)),
        linear-gradient(212.23deg, #CEF0FF 18.95%, rgba(115, 197, 232, 0.395692) 46.92%, rgba(10, 135, 189, 0.52) 89.3%);
      text-align: center;

      img {
        width: 97%;
      }
    }

    .info-text {
      h5 {
        font-weight: 700;
        color: $grayBlackColor;
      }

      p {
        color: $textGrayColor;
      }
    }

    .about-list {

      color: $mainColor;
      line-height: 2;

      li.about-list-item {
        display: flex;
        align-items: start;
        justify-content: start;

        i {
          font-size: 6px;
          margin-left: 10px;
          display: block;
          margin-top: 12px;
        }
      }
    }
  }

  @include devices(tablet) {
    .banner {
      img {
        width: 100%;
      }
    }

    .about-info {
      >div {
        width: 100%;
      }

      .info-img {
        width: 100%;
        height: auto;
      }
    }

    .about-us {
      .about-us-box {
        width: 100%;
      }
    }
  }


}

/*===================
	contact page style 
=====================*/
.contact-page {
  h1 {
    font-weight: 800;
    color: $redColor;
  }

  .contact-info {
    >div {
      width: 50%;
    }

    .info-img {
      img {
        width: 100%;
      }
    }

    .info-form {
      label {
        font-weight: 700;
        color: $mainColor;
      }

      input,
      textarea {
        border-color: $borderColor;
        height: 50px;
        color: $textGrayColor;
        font-size: 15px;
        text-align: right;

        &::placeholder {
          color: $textGrayColor
        }
      }

      textarea {
        height: auto;
      }
    }
  }

  @include devices(tablet) {
    .contact-info {
      >div {
        width: 100%;
      }
    }
  }

}

/*===================
	product page style 
=====================*/
.product-page {

  .page-content {
    .product-card {
      box-shadow: none;

      .card-body {
        .card-text {
          font-size: 16px;
        }

        a {
          margin: 0;
        }

        .arrives {
          svg {
            width: 20px;
            height: 20px;
            margin-left: 5px;
            stroke: $mainColor;
          }
        }

        .sharing {
          .list-sharing {
            li {
              display: inline-block;
              margin-left: 7px;

              img {
                width: 24px;
              }
            }
          }
        }
      }
    }

    .another-product {
      position: relative;

      .news-custom-nav {
        position: absolute;
        top: 33%;
        left: -20px;
        right: -20px;
        background-color: $redColor;

        .owl-prev,
        .owl-next {
          position: absolute;
          height: 100px;
          color: inherit;
          background: none;
          border: none;
          z-index: 88;
          opacity: 0;
          transition: all 0.2s ease-in;

          i {
            font-size: 1.5rem;
            color: $textGrayColor;
          }
        }

        .owl-prev {
          left: -30px;
        }

        .owl-next {
          right: -30px;
        }
      }

      &:hover {

        .owl-prev,
        .owl-next {
          opacity: 1;
        }

        .owl-prev {
          left: -25px;
        }

        .owl-next {
          right: -25px;
        }
      }
    }

  }
}

/*===================
	shopping cart page style 
=====================*/
.shopping-cart-page {
  .product-card {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid $borderColor;
    border-radius: 0;
    box-shadow: none;

    .product-card-img {
      width: 100%;
      height: 190px;
      border: 1px solid $borderColor;
      border-radius: 12px;
      display: flex;
    }

  }

  .empty-cart {
    text-align: center;

    a {
      font-weight: 700;
      color: $textGrayColor;
      font-size: 20px;

      &:hover {
        color: $redColor;
      }
    }

    p {
      font-size: 25px;
      width: 50%;
      margin: 0 auto;
    }
  }

}

/*===================
	checkout  page style 
=====================*/
.checkout-page {
  h5 {
    font-weight: 600;
  }

  .addresses,
  .payment-method,
  .shipping-address {
    .custom-radio {
      input {
        display: none;

        &:checked+.radio-btn {
          .check-icon {
            background-color: $greenColor;

            >i {
              opacity: 1;
              transform: translateX(0) scale(1);
            }
          }
        }
      }

      .radio-btn {
        margin: 10px;
        width: 100%;
        padding: 20px;
        display: inline-block;
        position: relative;
        cursor: pointer;
        border-bottom: 1px solid $borderColor;

        .check-icon {
          color: $whiteColor;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 25px;
          height: 25px;
          top: 25px;
          border-radius: 50%;
          border: 2px solid $borderColor;

          >i {
            opacity: 0;
            transition: 0.5s;
            pointer-events: none;
            transform: translateX(-40%) scale(2);

          }
        }


      }
    }
  }

  .shipping-address {
    .btn-bg {
      font-size: 13px;
    }

    .modal {
      .modal-content {
        padding: 30px 0;

        .addressForm {
          font-size: 15px;

          iframe {
            width: 100%;
            height: 300px;
            padding: 0 10px;
          }

          .modal-body {
            padding: 0 60px;
          }

          .custom-radio {
            input {
              &:checked+.radio-btn {
                .check-icon {
                  background-color: $redColor;
                }
              }
            }

            .radio-btn {
              padding: 0 10px;
              border: none;
              margin: 0;

              .address-icon {
                padding-right: 30px;
              }

              .check-icon {
                top: 0;
              }
            }
          }

          .form-check-input:checked {
            background-color: $redColor;
            border-color: $redColor;
          }

          label {
            color: $mainColor;
          }

        }
      }
    }
  }


  .receipt-date {
    .custom-radio {
      input {
        display: none;

        &:checked+.radio-btn {
          background-color: $redColor;
          color: $whiteColor;
        }
      }

      .radio-btn {
        margin: 10px;
        padding: 7px 20px;
        display: inline-block;
        position: relative;
        cursor: pointer;
        border: 1px solid $redColor;
        border-radius: 10px;
        color: $redColor;
        text-align: center;
        font-size: 15px;
        min-width: 130px;
      }
    }

    >p {
      color: $textGrayColor;
      font-size: 14px;
    }

    .shipping-time {
      .radio-btn {
        border: 1px solid $borderColor;
        color: $mainColor
      }
    }

  }

  .note {
    label {
      font-weight: 700;
    }

    textarea {
      border: 1px solid $borderColor;
      font-size: 15px;
    }
  }

  .payment-method {
    padding: 0 30px;
    border-bottom: 1px solid $borderColor;

    .custom-radio {
      .radio-btn {
        padding: 0px;
        border: none;

        .check-icon {
          top: 8px;
        }
      }

      .img {
        // display: inline-block;
        // min-width: 100px;
        // padding: 12px;
        // border: 2px solid $borderColor;
        // border-radius: 10px;
        // text-align: center;
        display: inline-block;
        min-width: 90px;
        padding: 12px;
        border: 2px solid #EEEEEE;
        border-radius: 10px;
        text-align: center;
        height: 50px;
        min-width: 80px;

        svg {
          width: 20px;
          height: 20px;
          margin-left: 5px;
        }

        span {
          &:nth-of-type(2) {
            color: $textGrayColor;
            padding-right: 10px;
            border-right: 1px solid $borderColor;
            margin-right: 10px;
          }
        }
      }
    }

  }

}

/*===================
	profile  page style 
=====================*/
.profile-page {
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;

  .nav-link {
    padding: 14px 58px 14px;
    text-align: right;
    font-size: 18px;
    color: #C0B7B7;
    font-weight: 600;
    border-radius: 0px;

    &.active {
      background-color: #D1E9FF;
      color: $textGrayColor;
    }
  }

  .sidebar {
    min-height: 600px;
    background: $blueLightColor;
    width: 270px;
    border-bottom: 5px solid $whiteColor;
    position: absolute;
    right: 0;
    top: 0;
    transition: all ease-in-out .3s;

    .user-info {
      padding: 40px 30px 30px;

      p {
        margin: 0;
        line-height: 1.7;
      }
    }

    .sidebar-list {
      padding: 30px 0;
      border-top: 1px solid $borderColor;
      border-bottom: 1px solid $borderColor;
    }

    .menu-icon {
      position: absolute;
      top: 20px;
      left: -40px;
      width: 40px;
      height: 40px;
      background-color: $blueLightColor;
      border-radius: 20px 0 0 20px;
      align-items: center;
      justify-content: center;
      box-shadow: #C0B7B7;
      cursor: pointer;
      box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
      color: $textGrayColor;
      display: none;
    }
  }

  .body-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 99;
    background-color: #00000091;
    opacity: 0;
    display: none;
  }

  .page-content {
    padding: 70px 0;
    min-height: 600px;
    padding-right: 100px;

    .balance {
      .balance-box {
        width: 22%;
        text-align: center;
        background-color: $blueLightColor;
        padding: 20px 0;
        border-radius: 8px;
        font-weight: 600;

        &:first-of-type {
          color: $greenColor;
        }
      }
    }

    .financial-operations {
      .financ-box {
        padding: 20px;
        background-color: $blueLightColor;
        line-height: 2;
        font-size: 17px;

        span {
          margin-left: 20px;

        }

        .text-muted {
          color: $grayLightColor;
          font-size: 13px
        }
      }
    }

  }

  .modal {
    .modal-content {
      padding: 30px 0;

      .accountForm {
        font-size: 15px;

        .modal-body {
          padding: 0 60px;
        }
      }

      ul.nav {
        background-color: #F5FAFF;

        .nav-link {
          padding: 15px 30px 15px;
        }
      }


    }
  }

  .order-card {
    padding: 30px 15px;
    border-bottom: 2px solid $borderColor;
    height: 160px;

    .order-card-icon {
      margin-left: 30px;

      svg {
        width: 70px;
        height: 70px;
      }
    }

    .order-card-info {
      line-height: 2;

      svg {
        width: 25px;
        height: 25px;
      }
    }

    .order-card-btn {
      .btn-gray-bg {
        min-width: 155px
      }
    }
  }

  #orders {
    border-bottom: 2px solid $borderColor;

    .nav-link {
      min-width: 160px;
      text-align: center;
      padding: 10px 20px;
      border: none;

      &.active {
        background-color: transparent;
        border-bottom: 3px solid $mainColor;
        color: $mainColor;
      }
    }
  }

  @include devices(tablet) {
    .sidebar {
      right: -270px;

      .menu-icon {
        display: flex;
      }
    }

    .page-content {
      padding-right: 0px;

      .balance {
        .balance-box {
          width: 45%;

        }
      }
    }

    .order-card {
      height: auto;

      .order-card-btn {
        margin: 20px auto 0px;
        justify-content: center;

        .btn-gray-bg {
          margin-top: 15px;
        }
      }
    }

  }

}

/*===================
	order details page style 
=====================*/
.order-details-page {

  .complete-sale {
    .payment-list {
      li {
        display: inline-block;
        min-width: 90px;
        padding: 12px;
        border: 2px solid #EEEEEE;
        border-radius: 10px;
        text-align: center;
        height: 50px;
        width: 80px;

        &.active {
          border-color: $redColor;
        }
      }
    }

    p {
      svg {
        width: 15px;
        height: 15px;
        margin-left: 5px;
      }
    }

    .truck {
      stroke: $mainColor;
    }

  }

  .product-card {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid $borderColor;
    border-radius: 0;
    box-shadow: none;


    .product-card-img {
      width: 100%;
      height: 190px;
      border: 1px solid $borderColor;
      border-radius: 12px;
      display: flex;
      justify-content: center;
    }

  }
}

/*===================
	questions page style 
=====================*/
.questions-page {
  h1 {
    font-weight: 700;
    color: $redColor;
  }

  .accordion-item {
    border-radius: 10px;

    .accordion-button {
      position: relative;
      overflow: hidden;
      padding-right: 30px;
      color: $mainColor !important;
      font-weight: 700;
      border-radius: 10px;
      background-color: transparent !important;
      height: 65px;

      &::after {
        display: none;
      }

      span {
        position: absolute;
        right: 0;
        left: 0;
        width: 20px;
        height: 100%;
        background-color: $borderColor;

      }

      i {
        font-size: 20px;
        color: $borderColor;
        margin-left: 15px;
      }

      &:not(.collapsed) {
        span {
          background-color: $redColor;
        }

        i {
          color: $redColor
        }
      }
    }

    .accordion-body {
      padding: 20px 45px;

      ul {
        li {
          line-height: 2.5;
        }
      }
    }
  }

}

/*===================
	privacy page style 
=====================*/
.privacy-page {
  line-height: 2.5;

  h1,
  h6,
  h4 {
    font-weight: 700;
    color: $redColor;
  }

  .privacy-content {
    >div {
      &:first-of-type {
        width: 70%;

        ul {
          list-style: inside;
        }
      }

      &:nth-of-type(2) {
        width: 25%;
      }

      @include devices(tablet) {
        &:first-of-type {
          width: 100%;
        }

        &:nth-of-type(2) {
          width: 100%;
        }

      }
    }

    p {
      text-align: justify;
      margin: 0;
    }

    h6 {
      position: relative;

      >span {
        width: 20px;
        height: 20px;
        background-color: #D1E9FFE5;
        border-radius: 50%;
        position: absolute;
        right: -30px;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        >span {
          width: 10px;
          height: 10px;
          background-color: $redColor;
          border-radius: 50%;
        }
      }
    }

    .indexing {
      li {
        display: flex;
        align-items: center;
        justify-content: start;


        >span {
          width: 15px;
          height: 15px;
          background-color: #D1E9FFE5;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 10px;

          >span {
            width: 7px;
            height: 7px;
            background-color: $redColor;
            border-radius: 50%;
          }
        }

        a {
          text-decoration: underline;
          font-size: 17px;
        }
      }
    }

  }
}

@import "./sass/newStyle";
// @import "./sass/ltr.scss";