$mainColor: #212529;
$borderColor: #EEEEEE;
$redColor: #DB1E3C;
$grayLightColor: #F7F7F7;
$grayLight2Color: #FDFDFD;
$grayBlackColor: #525457;
$whiteColor: #fff;
$textColor: #22262D;
$blueLightColor: #F5FAFF;
$blueDarkColor: #0066B2;
$textGrayColor: #737373
