.profile-page {
    .page-content {
        min-height: 630px !important;
    }

    .account-list {
        background-color: $borderColor;
        padding: 20px;
        border-radius: 8px;
        line-height: 2;
        border: 1px solid #d6d6d6;

        li {
            color: $textGrayColor;

            i {
                font-size: 6px;
                margin-left: 10px;
            }
        }
    }

    .editAccount-form,
    .editPass-form {
        input {
            text-align: right;
        }

        .btn-bg {
            margin: 0;
            margin-right: auto;
        }
    }

    #successPassModal {
        .icon {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: $greenColor;
            color: $whiteColor;
            margin: 0 auto 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 45px;
        }
    }

    .shipping-address {
        .custom-radio {
            input {
                display: none;

                &:checked+.radio-btn {
                    .check-icon {
                        background-color: $greenColor;

                        >i {
                            opacity: 1;
                            transform: translateX(0) scale(1);
                        }
                    }
                }
            }

            .radio-btn {
                margin: 10px;
                width: 100%;
                padding: 20px;
                display: inline-block;
                position: relative;
                cursor: pointer;
                border-bottom: 1px solid $borderColor;

                .check-icon {
                    color: $whiteColor;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 25px;
                    height: 25px;
                    top: 25px;
                    border-radius: 50%;
                    border: 2px solid $borderColor;

                    >i {
                        opacity: 0;
                        transition: 0.5s;
                        pointer-events: none;
                        transform: translateX(-40%) scale(2);

                    }
                }


            }
        }

        .modal {
            .modal-content {
                padding: 30px 0;

                .addressForm {
                    font-size: 15px;

                    iframe {
                        width: 100%;
                        height: 300px;
                        padding: 0 10px;
                    }

                    .modal-body {
                        padding: 0 60px;
                    }

                    .custom-radio {
                        input {
                            &:checked+.radio-btn {
                                .check-icon {
                                    background-color: $redColor;
                                }
                            }
                        }

                        .radio-btn {
                            padding: 0 10px;
                            border: none;
                            margin: 0;

                            .address-icon {
                                padding-right: 30px;
                            }

                            .check-icon {
                                top: 0;
                            }
                        }
                    }

                    .form-check-input:checked {
                        background-color: $redColor;
                        border-color: $redColor;
                    }

                    label {
                        color: $mainColor;
                    }

                }
            }
        }
    }

    .addresses {
        .address-icon {
            width: 32%;
            height: 142px;
            position: relative;
            background-color: $grayLightColor;
            margin-left: 1%;
            border-radius: 8px;
            margin-bottom: 20px;
            padding: 20px 10px;

            button.btn-gray-bg {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                min-width: unset;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;

                svg {
                    margin: 0;
                }
            }

            .icon {
                width: 45px;
                height: 45px;
                margin-left: 8px;

                svg {
                    height: 20px;
                    width: 20px;
                }
            }

            .info {
                font-size: 14px;
            }

            @include devices(tablet) {
                width: 100%;
            }
        }
    }
}

.shipping-address {
    .addresses {
        .custom-radio {
            width: 32%;
            height: 142px;
            margin-left: 1%;
            border-radius: 8px;
            border: 1px solid $borderColor;
            margin-bottom: 20px;

            .radio-btn {
                height: 100%;
                margin: 0;
                padding: 20px 10px;
                border: none;

                .address-icon {
                    padding-right: 30px;
                    height: 100%;

                    button.btn-gray-bg {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        min-width: unset;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0;

                        svg {
                            margin: 0;
                        }
                    }

                    .icon {
                        width: 45px;
                        height: 45px;
                        margin-left: 8px;

                        svg {
                            height: 20px;
                            width: 20px;
                        }
                    }

                    .info {
                        font-size: 14px;
                    }

                }

                .check-icon {
                    width: 23px;
                    height: 23px;
                    font-size: 13px;
                }
            }

            @include devices(tablet) {
                width: 100%;
            }
        }


    }
}

.address-icon {
    .info {
        width: 66%;

        p {
            &:nth-of-type(2) {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                -webkit-line-clamp: 2;
            }
        }
    }
}

.checkout-page {
    .tab-content {


        .order-shap {
            position: relative;
            background-color: $whiteColor;
            height: 10px;
            width: 35%;
            margin: 0 auto 90px;

            .circle {
                position: absolute;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: $whiteColor;
                border: 2px solid $borderColor;
                z-index: 2;
                display: flex;
                align-items: center;
                justify-content: center;

                span {
                    position: absolute;
                    min-width: 100px;
                    bottom: -30px;
                }

                i {
                    color: $whiteColor;
                    font-size: 12px;
                }

                &.circle-1 {
                    right: 0;
                }

                &.circle-2 {
                    left: 0;
                }
            }

            .line {
                position: absolute;
                height: 2px;
                width: 100%;
                top: 10px;
                background-color: $borderColor;

                &.line-1 {
                    right: 0;
                }
            }
        }

        #addressTab {
            .circle-1 {
                border-color: $redColor;

                span {
                    color: $redColor;
                }
            }

        }

        #paymentTab {
            .circle-2 {
                border-color: $redColor;

                span {
                    color: $redColor;
                }
            }

            .circle-1 {
                background-color: $redColor;
                box-shadow: 0 10px 16px 0 rgba(47, 80, 149, 0.18);
                border-color: $redColor;
            }

            .line-1 {
                background-color: $redColor;

            }
        }

        @include devices(mobile) {
            .order-shap {
                width: 75%;
            }
        }

    }

    .nav-tabs {
        border: none;

        .btn-bg {
            background-color: $redColor !important;
        }
    }

    .btn:disabled {
        background-color: $redColor;

    }

    .complete-sale {
        padding: 30px 0;

        .payment-method {
            border: none;
        }
    }
}


.shopping-cart .cart-list {
    height: 330px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #e0e0e0;
    }

}

.header.is-sticky {
    background-color: #8d8d8d70;
}

.fotorama .fotorama__stage__frame {
    height: 450px;

    .fotorama__img {
        height: 100% !important;
    }
}

.fotorama__nav {
    z-index: 0;
}

.btn:disabled {
    background-color: $redColor;
}

.mobile-input {
    .input-group-text {
        background-color: $borderColor;
        border: 1px solid $borderColor;
        color: $textGrayColor;
        border-radius: 8px 0 0 8px !important;
        img {
            margin-right: 5px;
        }
    }

    .form-control {
        border-radius: 0 8px 8px 0 !important;
        text-align: right;

    }
}

